* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
  }
  .navbar{
      display: flex;
      justify-content: space-between;
      padding: 10px 30px;
  }
  .navbar h1{
      color: #ff8a5c;
  }

  ul {
    list-style: none;
    display: flex;
  }
  li{
      margin: 15px;
      font-size: 15px;
  }

  
  .bttn{
background-color: #ff8a5c;
height: 30px;
width: 70px;
border-radius: 8px 8px;
  }
  .btn{
    height: 30px;
    width: 70px;
    border-radius: 8px 8px;
  }

  